
                <aside>

                    <!--Social Icons in Header-->
                    <ul class="social-icons">
                        <li *ngFor="let website of socialsite">
                            <a target="_blank" title="{{website.target}}" href="{{website.link}}/{{website.username}}">
                                <i class="fa fa-{{website.icon}} fa-1x"></i><span>{{website.title}}</span>
                            </a>
                        </li>
                    </ul>
                    <!--End of Social Icons in Header-->

                </aside>